div.html5-angular-video {

  padding-bottom: 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, .75);
  overflow: hidden;
  position: relative;
  float: left;
  box-sizing: border-box;

  video {
    width: 100%;
    float: left;
    background-color: black;
    box-shadow: 0 0 30px rgba(0, 0, 0, .25);
  }

  section.controls {
    border: 1px solid rgba(0, 0, 0, .25);
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    section.progress {
      transition: all .25s;
      position: absolute;
      background-color: rgba(0, 0, 0, .55);
      height: 50px;
      width: 100%;
      bottom: -50px;
    }

    &:hover {

      section.progress {
        bottom: 0;
      }

    }

  }

}