* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

section.video {
    border: 1px solid lightgrey;
    width: 500px;
    height: 320px;
    position: relative;
}

section.video video {
    width: 100%;
    height: 290px;
    background-color: black;
}

section.video section.feedback {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    color: white;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    font-size: 14px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}

section.video section.feedback ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

section.video section.feedback div.timeline {
    background: rgba(0, 0, 0, .55);
    outline: none;
    position: absolute;
    bottom: 55px;
    width: 90%;
    left: 5%;
}

section.video section.feedback div.timeline input {
    width: 100%;
    pointer-events: all;
    -webkit-appearance: none;
    outline: none;
    height: 12px;
    background-color: transparent;
}

section.video section.feedback div.timeline input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    outline: none;
    height: 15px;
    width: 15px;
}

section.video section.controls {
    font-size: 12px;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    padding: 3px 8px 0 6px;
}

section.video section.controls a {
    color: black;
    margin: 0 5px;
}

section.video section.playlist {
    border: 1px solid lightgray;
    position: absolute;
    top: 0;
    width: 250px;
    height: 319px;
    right: -250px;
}