* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

section.ng-video {
    width: 550px;
    height: 310px;
    margin: 40px auto auto auto;
}

section.video {
    text-align: left;
    padding: 5px;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    border: 1px solid lightgray;
}

section.video section.loading {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 538px;
    height: 298px;
    color: white;
    font-size: 11px;
    z-index: 15;
    padding: 20px;
    background-color: rgba(0, 0, 0, .75);
}

section.video video {
    background-color: rgba(0, 0, 0, .25);
    width: 100%;
    height: 100%;
    object-fit: fill;
}

section.video section.controls {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 48px;
    z-index: 5;
    text-align: center;
    color: white;
}

section.video section.controls span {
    margin: 0;
    padding: 0;
    cursor: pointer;
    line-height: 48px;
    padding-left: 2px;
    width: 48px;
    height: 48px;
    font-size: 20px;
    transition: background-color .35s;
    border-radius: 3px;
    margin-bottom: 10px;
}

section.video section.controls span:hover {
    background-color: rgba(255, 255, 255, .25);
}

section.video section.volume {
    position: absolute;
    top: 145px;
    right: 25px;
    width: 48px;
}

section.video section.volume div.scale {
    background-color: rgba(0, 0, 0, .15);
    width: 48px;
    height: 5px;
    position: relative;
}

section.video section.volume div.scale div.bar {
    background-color: rgba(255, 255, 255, .75);
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 50%;
    transition: width .25s;
}

section.video section.volume span {
    color: rgba(0, 0, 0, .25);
    font-size: 15px;
    pointer-events: all;
    cursor: pointer;
    margin-top: 10px;
}

section.video section.volume span.increase {
    float: right;
}

section.video section.feedback {
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 4;
    width: 100%;
    height: 100%;
}

section.video section.generic {
    position: absolute;
    bottom: 11px;
    right: 10px;
    z-index: 90;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: rgba(255, 255, 255, .5);
}

section.video section.generic a {
    text-transform: none;
    color: rgba(255, 255, 255, .75);
    pointer-events: all;
}

section.video section.generic a:hover {
    text-decoration: none;
}

section.video section.timeline {
    position: absolute;
    width: 485px;
    width: calc(100% - 60px);
    left: 30px;
    bottom: 32px;
}

section.video section.timeline input {
    width: 100%;
    pointer-events: all;
    appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    height: 12px;
    border-bottom: 3px solid rgba(0, 0, 0, .25);
}

section.video section.timeline input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 2px;
    outline: none;
    height: 15px;
    width: 45px;
}

section.video section.timeline input::-moz-range-thumb {
    -webkit-appearance: none;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 2px;
    outline: none;
    height: 15px;
    width: 45px;
}

section.video section.duration {
    background-color: rgba(0, 0, 0, .15);
    color: rgba(255, 255, 255, .5);
    padding: 2px 5px;
    border-radius: 3px 0 0 3px;
    position: absolute;
    font-size: 11px;
    bottom: 62px;
    right: 83px;
}

section.video section.title {
    background-color: #dd4b39;
    font-size: 11px;
    position: absolute;
    color: white;
    opacity: .8;
    padding: 2px 5px;
    border-radius: 0 3px 3px 0;
    bottom: 62px;
    right: 33px;
}

section.video section.playlist {
    height: 297px;
    position: absolute;
    width: 200px;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, .35);
}

section.video section.playlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section.video section.playlist ul li {
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
    padding: 0 12px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    color: white;
    font-size: 12px;
}

section.video section.playlist ul li span.meta {
    margin-right: 8px;
    padding: 1px 5px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .25);
}

section.video section.playlist ul li.title {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

section.video section.playlist ul li:not(.title):hover {
    background: rgba(0, 0, 0, .25);
}

section.video section.playlist ul li.title div.close-playlist {
    position: absolute;
    top: -1px;
    font-size: 20px;
    right: 0;
    cursor: pointer;
    width: 35px;
    text-align: center;
    color: white;
}

section.video span.open-playlist {
    color: white;
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}

section.video section.buffer {
    position: absolute;
    width: 485px;
    width: calc(100% - 60px);
    left: 30px;
    bottom: 30px;
    background-color: rgba(255, 255, 255, .5);
    height: 1px;
}

section.video section.buffer canvas {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

section.video section.full-screen {
    position: absolute;
    top: 40px;
    left: 6px;
    cursor: pointer;
    padding: 10px;
    color: white;
}